* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
  border-radius: 8px;
  padding: 4rem 0 1.5625rem 4.5rem;
}

.wrapper {
  background: linear-gradient(rgba(119, 98, 178, 0.6), rgba(119, 98, 178, 0.6)),
    url("../assets/images/breakfast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  margin: 0;
}

.header__title__text {
  color: #fff;
  margin: 0;
  width: 14.5625rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.media {
  margin: 0.6875rem 0 0 0.1875rem;
  display: flex;
  align-items: center;
}

.media__text {
  margin: 0 18px 0 0;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.media-list {
  display: flex;
  list-style-type: none;
}

.media-list__item {
  margin-right: 22px;
  width: 1.75rem;
}

.media-list__link {
  display: block;
}

.media-list__link__img {
  width: 100%;
}
